<h1>Prject show page</h1>

<p> Project Name: <%= @project.name %> </p>
<p> Materials: <%= @project.material %> </p>
<p> Theme: <%= @project.challenge.theme %> </p>
<p> Contestant count: <%= @project.contestants.count %> </p>
